.montaga-regular {
  font-family: "Montaga", serif;
  font-weight: 400; /* Cambiado de 40 a 400 para un valor correcto */
  font-style: normal;
  line-height: 100%;
  font-size: 20pt;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montaga", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FBFCF2;
  text-align: center;
}

.meie-script-regular {
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70pt;
  line-height: 0%;
}

#sectionNombres h1,
#sectionNombres h3 {
  color: aliceblue;
  font-family: "Meie Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100pt;
  line-height: 10%;
}

#sectionNombres p {
  color: aliceblue;
  font-family: "Montaga", serif;
  font-style: normal;
}

#sectionNombres {
  height: 60vh;
  margin: 0;
  background-size: 100%;
  background-image:url("imgs/foto_Portada.jpg");
  padding: 10%;
}

h5 {
  font-size: 15pt;
  margin: 0;
  padding: 0;
  height: 4vh;
  padding: 2vh;
}

h4 {
  font-size: 40pt;
  margin: 0;
  padding: 0;
}

.section {
  height: 40vh;
  padding: 10vh;
  position: relative; /* Necesario para que las imágenes absolutas se ubiquen en esta sección */
  padding: 20px;
}

#sectionInvitado img {
  margin: 2%;
  width: 15vw;
}

#sectionfiesta {
  height: 40vh;
  background-image: url("imgs/image 39.png");
  display: block;
  justify-content: center;
  align-items: center;
}

.datos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dato {
  display: block;
  height: 10vh;
  padding: 2vw;
  border-color: #000000;
}

.dia {
  border-right: 2px solid;
}

.hora {
  border-left: 2px solid;
}

#sectionMapa {
  height: 90vh;
  margin: 0;
  padding: 0;
  display: block;
}

#cuenta {
  margin: 0 auto;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-top: 2px solid #000000;
}

.simply-section {
  height: 6vw;
  width: 10vw;
  margin: 2vh 2.5vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  display: block;
  font-size: 30pt;
  font-weight: 700; /* Cambiado de 70 a 700 para un valor correcto */
}

.simply-word {
  font-weight: 300;
  font-size: 20pt;
}

.florituras-top {
  top: -20vh;
  margin: 0;
  padding: 0;
}

.florituras-bottom {
  bottom: -15vh;
}

.florituras-izquierda {
  position: absolute;
  left: -2vw; /* Coloca la imagen en la esquina superior izquierda */
  max-width: 10vw; /* Ajusta el tamaño */
}

.florituras-derecha {
  position: absolute;
  right: -2vw; /* Coloca la imagen en la esquina superior derecha */
  max-width: 10vw; /* Ajusta el tamaño */
}

#sectionCuenta .florituras-bottom {
  bottom: -10vh;
  max-width: 10vw;
}

#sectionCuenta .florituras-top {
  top: -5vh;
}

#sectionCuenta .florituras-derecha {
  right: 0;
}

#sectionCuenta .florituras-izquierda {
  left: 0;
}

#sectionCivil,
#sectionForm {
  padding: 2%;
  background: #000000;
  color: aliceblue;
  border-color: aliceblue;
}

#sectionCivil .florituras-bottom {
  bottom: 0;
  max-width: 7vw;
  padding: 2%;
}

#sectionCivil .florituras-top {
  top: 0;
  max-width: 7vw;
  padding: 2%;
}

#sectionCivil .florituras-derecha {
  right: 0;
}

#sectionCivil .florituras-izquierda {
  left: 0;
}

h2 {
  padding: 3vh;
}

.formulario {
  padding-top: 0;
  text-align: left;
  margin: 0 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}
.imagenf img{
  max-height: 30vh ;
}


.imagenf{
	width: 15vw;
	height: 30vh;
}
.imagenf > img{
  object-fit: cover;
  width:100%;
  height:100%;
}
label,
input,
button {
  padding: 5px;
  margin: 8px;
  font-size: 15px; /* Cambiado de 15 a 15px para una unidad correcta */
  font-family: "Montaga", serif;
}

.poneRadio {
  display: none;
}

#cantidad,
#nombre {
  width: 100%;
  height: 30px;
}

button {
  width: 105%;
  height: 40px;
  background-color: #B91818;
  color: aliceblue;
  border-style: none;
  border-radius: 5px;
}

#sectionForm {
  padding-bottom: 20vh;
}

#sectionForm .florituras-top {
  top: -5vh;
}

#sectionRegalo {
  padding: 5px;
  height: 50vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.regalo {
  width: 60vw;
  padding-top: 0;
  margin-top: 0;
}

#sectionRegalo p {
  text-align: left;
}

#sectionRegalo .datosCaja p {
  text-align: center;
  font-size: 15pt;
}

footer {
  background-color: #000000;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}

.garabato {
  max-width: 15vw;
  text-align: center;
  margin: 2vh;
}

#sectionRegalo .florituras-bottom {
  bottom: -1vh;
}

#sectionRegalo .florituras-top {
  top: -8vh;
}

/* General para el nav */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(20, 0, 0, 0.8); /* Color de fondo oscuro */
  padding: 15px 20px; /* Espacio interno del menú */
  text-align: center; /* Centra los elementos en el menú */
}

.menu ul {
  list-style: none; /* Quitar puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Usar flexbox para alinear los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.menu li {
  margin: 0 15px; /* Espacio entre los elementos */
  font-size: 18px;
}

.menu a {
  color: white; /* Color del texto de los enlaces */
  text-decoration: none; /* Quitar subrayado */
  padding: 10px 15px; /* Espacio interno en los enlaces */
  transition: background-color 0.3s ease; /* Efecto suave al pasar el ratón */
  border-radius: 5px; /* Bordes redondeados en los enlaces */
}

.menu a:hover {
  background-color: #555; /* Color de fondo al pasar el ratón */
}

.iniciales {
  font-family: "Meie Script", cursive;
  color: #fff; /* Color del texto de las iniciales */
  font-weight: bold;
  font-size: 22px; /* Tamaño más grande para las iniciales */
  text-transform: uppercase; /* Convertir a mayúsculas */
  padding-right: 30px; /* Añadir espacio a la derecha para separar de los enlaces */
  letter-spacing: 2px;

}
.respuesta{
  width: 60%;
 font-family:'Junge', serif;
  display: none;
  text-align: center;
  padding: 20vh 5vh;
  font-size: 15pt;
}

#poneRadio {
display:none;}
.poneRadio {
   font-size: 10pt;
 
    padding:10px;
          background-color:#C72020;
     color:white;
     border-radius:10px;}
   .poneRadio p{
  margin-top: 0;
   }

@media (max-width: 768px) {
  #sectionNombres h1,
  #sectionNombres h3 {
      font-size: 40pt; /* Ajustar tamaño de fuente para pantallas pequeñas */
  }

  #sectionNombres, #sectionfiesta, #sectionRegalo, #sectionCuenta, #sectionMapa,  #sectionInvitado{ width: 90vw; height: 70vh; padding: 5vw; display: block;
  }
  
  #sectionCivil{
    height: 60vh;
  }
  h4 {
      font-size: 30pt; /* Ajustar tamaño de fuente */
  }

  h5 {
      font-size: 12pt; /* Ajustar tamaño de fuente */
  }

  #sectionCuenta .florituras-top{
    z-index:1;
    top: -1vh;
  }

  #sectionCuenta h2{
    z-index:0;
  }

  .datos {
    display: block;
    justify-content: center;
    align-items: center;
  }

  button {
      width: 100%; /* Hacer botones responsivos */
  }

  #cuenta { margin: 0 10vw ; padding: 15vw;
      display: block;  justify-content: center;
      align-items: center;
    }
    .simply-section {
      height: 15vh;
      width: 40vw;
 
    }
.datos h4, h5{padding: 0; margin: 0;}
.dato{margin: 1vh;}
iframe{
 
    width: 70vw;
    height: 40vh;

}
    .dia {
      border-right: none;
      border-bottom: 2px solid;
    }
    
    .hora {
      border-left:none;
      border-top:  2px solid;
    }
  .florituras-izquierda,
  .florituras-derecha {
      max-width: 40vw; /* Ajustar tamaño de las florituras */
  }
.garabato{max-width: 30vw;}
.regalo{width: 80vw;}
.imagenf{
  display: none;
}
#sectionCivil .florituras-bottom {
  bottom: 0;
  max-width: 20vw;
  padding: 4%;
}

#sectionCivil .florituras-top {
  top: 0;
  max-width: 20vw;
  padding: 4%;
}
#sectionNombres{  
  padding-top: 15vh;
  background-size:cover;
  background-position: top center;
  height: 70vh;
  border: 2px solid;
  resize:initial
}
#sectionNombres p{  
  padding-top: 20vh;
  line-height: 110%;}
#sectionRegalo .florituras-izquierda {
  display: none;
}
#sectionInvitado .florituras-top {
 top: -5vh;
  max-width: 50vw;
}
#sectionInvitado {
  height: 40vh;
}
#sectionRegalo {
  height: 70vh;
  padding: 5vw;
}
.menu {

  padding: 1vw 1vw; /* Espacio interno del menú */

}


.menu li {
  margin: 0 2px; /* Espacio entre los elementos */
  font-size: 10px;
}

.menu a {
  color: white; /* Color del texto de los enlaces */
  text-decoration: none; /* Quitar subrayado */
  padding: 5px 5px; /* Espacio interno en los enlaces */
  transition: background-color 0.3s ease; /* Efecto suave al pasar el ratón */
  border-radius: 5px; /* Bordes redondeados en los enlaces */
}
}
